.App {
  text-align: center;
  background-color: aliceblue;
}

.App-logo {
  height: 100px;
  width: 100px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 4s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform:rotate(0deg)
  }
  to {
    transform: rotate(360deg)
  }
}

h1{
  color: rgba(187, 15, 15, 0.541);
  font-size: 3em;
  text-align: center;
  font-family:cursive
}

.Loading{
text-align: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  background-color:rgb(179, 98, 138) ;
  color: white;
  padding: 15px;
  font-size: 1.5em;
}

.nav a {
  color: white;
  text-decoration: none;
}

.Footer {
  display: flex;
  justify-content: space-between;
  background-color:rgb(179, 98, 138) ;
  color: white;
  padding: 15px;
  font-size: 1em;
}

.Social{
  height: 30px;
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}